{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Import library from JSON - Review</h1>

    {% if books %}
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Language</th>
            </tr>
            {%  for book in books %}
                <tr>
                    <td>{{ book.title }}</td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.language_name }}</td>
                </tr>
            {%  endfor %}
        </table>


        <form action="{{ url_for(".library_import_finalize")}}" method="post">
            <input type="submit" class="btn-default" value="Yes, import" />
            <a class="btn btn-default" href="{{ url_for(".my_library") }}">Cancel</a>
        </form>
    {% else %}
        There are no books to be imported.
    {% endif %}
{% endblock %}