{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block title %}Oookbook : My Library{% endblock %}

{% block page_content %}
    <h1>My Library ({{ books | count}})</h1>

    <div>
        {{ wtf.quick_form(isbn_form, extra_classes="navbar-form navbar-left", action=url_for(".book_add_by_isbn")) }}
        <a class="btn btn-default" href="{{ url_for(".library_import") }}">JSON Import</a>
        <a class="btn btn-default" href="{{ url_for(".library_export") }}">JSON Export</a>
    </div>

    {%  if books %}
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Language</th>
            </tr>
            {%  for book in books %}
                <tr>
                    <td><a href="{{ url_for(".book_show", book_id=book.id) }}">{{ book.title }}</a></td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.language_name }}</td>
                </tr>
            {%  endfor %}
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'my_library') }}
            </div>
        {% endif %}
    {%  else %}
        You have no books at all.
    {% endif %}

{% endblock %}