{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros %}

{% block title %}Oookbook : All Books{% endblock %}

{% block page_content %}
    <h1>All Books ({{ pagination.total }})</h1>

    {%  if books %}
        <table class="table">
            <tr>
                <th>Title</th>
                <th>Authors</th>
                <th>Publisher</th>
                <th>Year</th>
                <th>Language</th>
                {% if current_user.can("show_user") %}
                    <th>Owner</th>
                {% endif %}
            </tr>
            {%  for book in books %}
                <tr>
                    <td><a href="{{ url_for(".book_show", book_id=book.id) }}">{{ book.title }}</a></td>
                    <td>{{ book.authors }}</td>
                    <td>{{ book.publisher }}</td>
                    <td>{{ book.year }}</td>
                    <td>{{ book.language_name }}</td>
                    {% if current_user.can("show_user") %}
                        <td><a href="{{ url_for(".user_show", username=book.owner.username) }}">{{ book.owner.username }}</a></td>
                    {% endif %}
                </tr>
            {%  endfor %}
        </table>

        {% if pagination %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, '.book_list') }}
            </div>
        {% endif %}
    {%  else %}
        No books at all.
    {% endif %}
{% endblock %}