{% extends "base.html" %}

{% block title %}
    Oookbook : {{ book.title }}
{% endblock %}

{% block page_content %}
    <a class="btn btn-default" href="{{ url_for(".book_list") }}">Back to books</a>
    {% if enable_edit %}
        <a class="btn btn-default" href="{{ url_for(".book_edit", book_id=book.id) }}">Edit</a>
    {% endif %}
    <a class="btn btn-default" href="{{ url_for(".book_copy", book_id=book.id) }}">Clone</a>


    <h1>{{ book.title }}</h1>

    <h2><em>by</em> {{ book.authors }}</h2>

    <b>Owner: </b> <a href="{{ url_for(".user_show", username=book.owner.username) }}">{{ book.owner.username }}</a><br/>
    <b>Language: </b> {{ book.language_name }} <br/>
    <b>Publisher: </b> {{ book.publisher }} <br/>
    <b>ISBN-13: </b> {{ book.isbn }} <br/>
    <b>Year: </b> {{ book.year }}<br/>
    <b>Added: </b> {{ book.inserted_at }}

    {% if book.description %}
        <h3>Description</h3>
        <p>{{ book.description }}</p>
    {% endif %}

    {% if book.owner == current_user and book.private_note %}
        <h3>Private note</h3>
        <p>{{ book.private_note }}</p>
    {% endif %}

    {% if book.isbn %}
        <h3>Internet search:</h3>
        <a class="btn btn-default" target="_blank" href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Daps&field-keywords={{ book.isbn }}">Amazon</a>
        <a class="btn btn-default" target="_blank" href="https://www.google.cz/search?q={{ book.isbn }}&tbm=bks">Google Books</a>
        <a class="btn btn-default" target="_blank" href="https://www.goodreads.com/search?utf8=%E2%9C%93&query={{ book.isbn }}">Goodreads</a>
    {% endif %}
{% endblock %}