{% extends "base.html" %}

{% block page_content %}
<table class="table">
    <thead>
        <tr>
            <th>User name</th>
            <th>Books</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td><a href="{{ url_for(".user_show", username=user.username) }}">{{ user.username }}</a></td>
            <td>{{ user.book_count }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}