{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <h1>Edit your profile</h1>

    <b>User name:</b> {{ current_user.username }}<br/>
    <b>Email address:</b> {{ current_user.email }}

    <h2>Change your password</h2>
    {{ wtf.quick_form(password_form) }}
{% endblock %}