{% extends "bootstrap/base.html" %}

{% block title %}Oookbook{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}" />
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Oookbook</a>
        </div>

         <div class="collapse navbar-collapse">
             <ul class="nav navbar-nav">
                 {% if current_user.is_authenticated %}
                     <li><a href="{{ url_for('main.my_library') }}">My Library</a></li>
                 {% endif %}
                 <li><a href="{{ url_for('main.book_list') }}">All Books</a></li>
                 {% if current_user.can("show_user") %}
                    <li><a href="{{ url_for('main.user_list') }}">Users</a></li>
                 {% endif %}
                 {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('main.edit_profile') }}">Edit profile</a></li>
                 {% endif %}
             </ul>

            <ul class="nav navbar-right navbar-nav">
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated %}
                <p class="navbar-text navbar-right">[{{ current_user.username }}]</p>
            {% endif %}
         </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}